pypandoc==1.4
hanziconv==0.3.2
matplotlib==3.1.2
jieba==0.42.1
Faker==4.0.0
Pattern==3.6
numpy==1.22.0
requests==2.32.2
nltk==3.6.6
seaborn==0.10.0
beautifulsoup4==4.9.1
en==0.0.1
inflect==4.1.0
progressbar33==2.4
simplejson==3.17.0
